<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SeyahatDefterim.Properties.Settings.SeyahatDefteriConnectionString"
            connectionString="Data Source=DESKTOP-SR433K6\SQLEXPRESS;Initial Catalog=SeyahatDefteri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>